@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grecaptcha-badge {
  visibility: hidden;
}

.Toastify__toast-theme--colored {
  @apply !rounded-xl !min-h-min !p-1;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply !bg-success !text-success-content;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  @apply !bg-error !text-error-content;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@layer components {
  .section {
    @apply py-20 my-16;
  }

  .text-wrapper {
    @apply px-6 lg:px-48
      flex flex-col gap-y-8;
  }

  .icon {
    position: relative;
    display: inline-block;
    height: auto;
    fill: theme(colors.neutral-content);
    @apply transition-colors;

    &:hover {
      fill: theme(colors.neutral);
    }

    &.small {
      width: 40px !important;
    }

    &.medium {
      width: 70px !important;
    }

    &.large {
      width: 120px !important;
    }

    &.xlarge {
      width: 160px !important;
    }
  }

  @variants responsive {
    .masonry {
      column-count: 1;
    }
    .masonry-md {
      column-count: 2;
    }
    .masonry-lg {
      column-count: 3;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}
